GCS_BINARY_PATH=./dist/gcs-linux-x86_64
GCS_WORKDIR_HOST=./gcs_workspace
GCS_PORT=8765
GCS_WORKERS=8
GCS_GITLAB_URL=https://gitlab.example.com
GCS_ADMIN_TOKEN=replace-with-your-admin-pat
GCS_DOCKER_PLATFORM=linux/amd64
